.container {
  display: flex;
}
.step {
  font-size: 1.15em;
  text-rendering: optimizeLegibility;
}
.step-title {
  font-size: 1.2em;
  background-color: gainsboro;
}
p,
.sub-step-title {
  font-size: 1em;
}
.translate::before {
  content: '(';
}
.translate::after {
  content: ')';
}
.note {
  display: block;
}
.note::before {
  display: inline;
  content: 'Nota:';
}
.option {
  text-decoration: underline;
  text-transform: capitalize;
}
.option::before {
  content: '❰';
}
.option::after {
  content: '❱';
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
